
params {
  // Pipeline workflow parameters
  input = null
  subworkflow = null
  paired = false
  samples = null
  out = "OUT"
  gendb = "GENDB"
  updategendb = null
  pon = null

  // Resources used in workflow
  ref = "${PWD}/assets/reference/Homo_sapiens_assembly38.fasta"
  dbsnp = "${PWD}/assets/reference/Homo_sapiens_assembly38.dbsnp138.vcf"
  known_indels = "${PWD}/assets/reference/Homo_sapiens_assembly38.known_indels.vcf.gz"
  mills = "${PWD}/assets/reference/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz"
  hapmap = "${PWD}/assets/reference/hapmap_3.3.hg38.vcf.gz"
  omni = "${PWD}/assets/reference/1000G_omni2.5.hg38.vcf.gz"
  phase1 = "${PWD}/assets/reference/1000G_phase1.snps.high_confidence.hg38.vcf.gz"
  germline_resource = "${PWD}/assets/reference/af-only-gnomad.hg38.vcf.gz"
  common_germline_variants = "${PWD}/assets/reference/small_exac_common_3.hg38.vcf.gz"

  // Targets
  intervals = "${PWD}/assets/targets/twist_exome_hg38.interval_list"
}

process {
  container = "docker://aadams8/gap-beta"
}

singularity {
  autoMounts = true
  enabled = true
  cacheDir = "assets/containers/"
  runOptions = "--bind ${PWD}"
}
